
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 { font-weight: 100; font-size: 2.5em;}
    
#content { 
 width: 500px; 
 margin: 0 auto; 
 margin-top: 50px; 
 border: 1px solid black;       
 text-align: center; 
 font-family: 'Helvetica Neue', arial; 
 font-weight: 100;
 background-color: background: rgb(82,54,240);
 background: linear-gradient(90deg, rgba(82,54,240,1) 0%, rgba(0,204,245,0.4822303921568627) 96%);
}

div.eight-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.answer {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
  
}

p#eight {
  font-size: 5em;
  margin: 20% auto;
  color: white;
}

p#answer {
  padding: 23px;
  color: lightblue;
  letter-spacing: 2px;
  font-size:18px;
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size:22px;
}

@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  #info {
    font-size: 22px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  #footer {
      font-weight: 200;
      padding-top: 50px;
  }

  